@import 'system/settings';
@import 'system/mixins';

header, main {
    margin-bottom: 40px;
}

.btn-ico {
    padding: 8px 10px;
    font-size: 1.2rem;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
    
    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }
}

a .img-container img {
    &:hover {
        opacity: 0.7;
    }
}

.logo-menu-section {
    padding: 2rem $global-border-radius;
    align-items: center;
    justify-content: space-between;

    .logo {
        height: 30px;
        width: auto;
    }

    .nav {
        ul {
            display: flex;

            li {
                display: inline;

                a {
                    color: $color-dark-grey;
                    text-decoration: none;
                    padding: 10px 20px;
                    font-weight: 600;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }

        &-desktop {
            @extend .nav;
        }

        &-mobile {
            @extend .nav;

            ul {
                li {
                    a {
                        padding: 10px 10px;
                    }
                }
            }
        }
    }
}

.slider-section {
    background-position: center;
    align-items: center;

    img {
        border-radius: $global-border-radius;
    }
}

.product-section {

    .product-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;

        .img-links-wrapper {
            position: relative;

            .product-links {
                position: absolute;
                right: 10px;
                bottom: 10px;
                z-index: 99;
            }

            .tags {
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                left: 10px;
                top: 10px;
                z-index: 99;

                .tag {
                    padding: 4px 8px;
                    font-size: 0.8rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: white;
                    margin-right: 4px;
                    margin-bottom: 4px;
                    @include border-radius(8px);
                    
                    &-green {
                        @extend .tag;
                        background-color: $color-green;
                    }

                    &-yellow {
                        @extend .tag;
                        background-color: $color-yellow;
                    }

                    &-red {
                        @extend .tag;
                        background-color: $color-red;
                    }
                }
            }
        }

        img {
            @include border-radius($global-border-radius);
        }

        h2 {
            font-size: 1.0rem;
            line-height: 1.4rem;
            margin-top: 1.2rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        .price {
            margin-bottom: 1rem;

            .price-normal {
                font-size: 1.2rem;
                font-weight: 600;
                color: $color-primary;
                text-align: center;
            }
        }

        .price-old {
            font-size: 1rem;
            font-weight: 300;
            color: $color-grey;
            text-decoration: line-through;
        }
        
    }
}

.news-section {

    h2 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 15px;
    }

    .news-info {
        color: $color-grey;
        margin-bottom: 15px;
    }
    
    .more-link {
        color: $color-primary;
        text-decoration: underline;

        &:hover {
            color: $color-secondary;
        }
    }

}