@import 'system/settings';
@import 'system/mixins';

header {
    margin-bottom: 40px;
}

.btn-ico {
    padding: 8px 10px;
    font-size: 1.2rem;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
    
    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        display: block;
        text-align: center;
        line-height: 2.2rem;
    }

    a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

a .img-container img {
    &:hover {
        opacity: 0.7;
    }
}

.logo-menu-section {
    padding: 2rem $global-border-radius;
    align-items: center;
    justify-content: space-between;

    .logo {
        height: 30px;
        width: auto;
    }

    .nav {
        ul {
            display: flex;

            li {
                display: inline;

                a {
                    color: $color-dark-grey;
                    text-decoration: none;
                    padding: 10px 20px;
                    font-weight: 600;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }

        &-desktop {
            @extend .nav;
        }

        &-mobile {
            @extend .nav;

            ul {
                li {
                    a {
                        padding: 10px 10px;
                    }
                }
            }
        }
    }
}

.slider-section {
    background-position: center;
    align-items: center;
    position: relative;
    @include border-radius($global-border-radius);
    overflow: hidden;

    .col {
        padding: 0;
    }

    .tns-nav {
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        & > button {
            width: 12px;
            height: 12px;
            background: none;
            border: solid 3px $color-grey;
            @include border-radius(999px);
            margin: 5px;
            padding: 0;
            overflow: hidden;
        }

        .tns-nav-active {
            border-color: $color-secondary; 
        }
    }
}

.product-section {

    img {
        @include border-radius($global-border-radius);
    }

    .product-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;

        .img-links-wrapper {
            position: relative;

            .product-links {
                position: absolute;
                right: 10px;
                bottom: 10px;
                z-index: 99;
            }

            .tags {
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                left: 10px;
                top: 10px;
                z-index: 99;

                .tag {
                    padding: 4px 8px;
                    font-size: 0.8rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: white;
                    margin-right: 4px;
                    margin-bottom: 4px;
                    @include border-radius(8px);
                    
                    &-green {
                        @extend .tag;
                        background-color: $color-green;
                    }

                    &-yellow {
                        @extend .tag;
                        background-color: $color-yellow;
                    }

                    &-red {
                        @extend .tag;
                        background-color: $color-red;
                    }
                }
            }
        }

        h2 {
            font-size: 1.0rem;
            line-height: 1.4rem;
            margin-top: 1.2rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        .price {
            margin-bottom: 1rem;

            .price-normal {
                font-size: 1.2rem;
                font-weight: 600;
                color: $color-primary;
                text-align: center;
            }
        }

        .price-old {
            font-size: 1rem;
            font-weight: 300;
            color: $color-grey;
            text-decoration: line-through;
        }
        
    }
}

.news-section {

    img {
        @include border-radius($global-border-radius);
    }

    .news-container {
        margin-bottom: 30px;
    
        h2 {
            font-size: 1.2rem;
            line-height: 1.5rem;
            margin-bottom: 15px;
        }
    
        .news-info {
            color: $color-grey;
            margin-bottom: 15px;
        }
        
        .more-link {
            color: $color-primary;
            text-decoration: underline;
    
            &:hover {
                color: $color-secondary;
            }
        }
    }
}

.aboutus-section {
    color: white;
    background-color: $color-secondary;
    padding: 30px 0;
    margin-bottom: 0;

    img {
        @include border-radius($global-border-radius);
    }

    h1, h2 {
        color: white;
    }

    p {
        color: $color-light-grey;
        text-align: justify;
    }
}

.contact-section {

    .contact-info {
        margin-bottom: $size-unit*8;
        display: flex;
        flex-direction: column;

        @media (max-width: $breakpoint-medium) {
            align-items: center;
            text-align: center;
        }
    }

    .contact-action {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: $size-unit*8;

        .contact-data {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 30px;

            i {
                margin-right: 10px;
                color: $color-primary;
            }
        }
    }

}

.footer-section {
    width: 100%;
    padding: 12px 0;
    background-color: $color-light-grey;
    z-index: 99;
    
    .container, .container-fluid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 $column-gap;

        .footer-copyrights {
            text-align: center;
        }

        nav {
            text-align: center;

            ul {

                li {
                    display: inline;
                    margin: 10px;
    
                    a:hover {
                        text-decoration: underline;
                    }
                    @media (max-width: $breakpoint-medium) {
                        display: block;
                        text-align: center;
                    }
                } 
            }
        }
    }
}