$font-stack: 'Quicksand', Arial, Helvetica, sans-serif;
$default-font-size: 16px;

$container-width: 1272px;
$column-count: 12;
$column-gap: 30px;
$row-gap: 30px;

$breakpoint-small: 640px;
$breakpoint-medium: 960px;
$breakpoint-large: 1400;

$size-unit: 5px;
$global-border-radius: 16px;
$section-padding: 50px;

$color-primary: #4db04a;
$color-dark-primary: darken($color-primary, 20%);
$color-secondary: #0f2735;
$color-dark-secondary: darken($color-secondary, 20%);
$color-light-grey: #e2e2e2;
$color-grey: grey;
$color-dark-grey: #363636;
$color-red: #d42349;
$color-yellow: #f1c226;
$color-green: #38af28;

$button-border-radius: 16px;
$button-border-size: 1px;
$button-padding-v: 12px;
$button-padding-h: 24px;